language: python
python:
  - "2.7"
  - "3.3"
  - "3.6"

services:
  - postgresql

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install coveralls

# Commands run before running scipt command
before_script:
  - psql -c 'create database test_db;' -U postgres

# command to run tests
script: coverage run run_tests.py

after_success:
  - coveralls